<div class="container" fxLayout="column" fxLayoutAlign="center center">

  <mat-card class="mat-elevation-z8 content-card"
      fxLayout="column" fxLayoutAlign="space-between start">

    <div matCardTitle>
      <h1>Dependencies</h1>
      <mat-divider></mat-divider>
    </div>

    <div matCardContent class="content">

      <div fxLayout="column" fxLayoutAlign="start start" style="padding: 20px">

        <div class="content-header content"
            fxLayout="row" fxLayoutAlign="space-between center">
          <span>Host Requirements</span>
          <span></span>
          <span>{{cur_host_requirements}}/{{num_host_requirements}}</span>
        </div>
        <div style="width: 100%; padding-top: 20px;">
          <mat-progress-bar mode="buffer" [value]="hostRequirementsPercent()">
          </mat-progress-bar>
        </div>
      </div>

      <span></span>

      <div fxLayout="column" fxLayoutAlign="start start" style="padding: 20px"
          *ngIf="finishedHostRequirements()">

        <div class="content-header content"
            fxLayout="row" fxLayoutAlign="space-between center">
          <span>System Requirements</span>
          <span></span>
          <span>{{cur_system_requirements}}/{{num_system_requirements}}</span>
        </div>
        <div style="width: 100%; padding-top: 20px;">
          <mat-progress-bar mode="buffer" [value]="systemRequirementsPercent()">
          </mat-progress-bar>
        </div>
      </div>
    </div>

    <span></span>

    <div fxLayout="row" fxLayoutAlign="end center" style="width: 100%">
      <button mat-raised-button class="button-next"
          [disabled]="!hasFinished()"
          routerLink="/setup-finish">
        Next
      </button>
    </div>

  </mat-card>

</div>