.container {
    background-color: #30BA78;
    width: 100vw;
    height: 100vh;
}

.option-container-card {
    width: 300px;
    height: 300px;
}

.option-container-card:hover {
    background-color: #FF6A52;
    color: white;
}