<div class="container" fxLayout="column" fxLayoutAlign="center center">

  <mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav #drawer fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">

      <!-- sidenav toolbar header -->      
      <mat-toolbar class="sidenav-toolbar">
        <button mat-icon-button (click)="toggleMenu()"
            class="menu-header-button" type="button"
            aria-label="Expand side menu">
          <mat-icon matTooltip="Menu" matTooltipPosition="right"
              [matTooltipDisabled]="isExpanded()">
            menu
          </mat-icon>
        </button>
        <span *ngIf="isExpanded()" [class.expanded-sidenav]="isExpanded()">
          Menu
        </span>        
      </mat-toolbar>

      <div fxLayout="column" fxLayoutAlign="space-between" class="sidenav-menu">

        <!-- sidenav menu -->
        <mat-nav-list>
          <a mat-list-item
              matTooltip="Overview" matTooltipPosition="right"
              [matTooltipDisabled]="isExpanded()">
            <mat-icon>devices</mat-icon>
            <span *ngIf="isExpanded()" class="menu-item">Overview</span>
          </a>

          <a mat-list-item
              matTooltip="Storage" matTooltipPosition="right"
              [matTooltipDisabled]="isExpanded()">
            <mat-icon>storage</mat-icon>
            <span *ngIf="isExpanded()" class="menu-item">Storage</span>
          </a>

          <a mat-list-item
              matTooltip="Interfaces" matTooltipPosition="right"
              [matTooltipDisabled]="isExpanded()">
            <mat-icon>settings_ethernet</mat-icon>
            <span *ngIf="isExpanded()" class="menu-item">Interfaces</span>
          </a>

          <a mat-list-item
              matTooltip="Network" matTooltipPosition="right"
              [matTooltipDisabled]="isExpanded()">
            <mat-icon>router</mat-icon>
            <span *ngIf="isExpanded()" class="menu-item">Network</span>
          </a>          
        </mat-nav-list>

        <!-- spacer -->
        <span class="sidenav-menu-spacer"></span>

        <!-- sidenav menu footer -->
        <div>
          <mat-divider></mat-divider>
          <mat-nav-list>
            <a mat-list-item
                matTooltip="Settings" matTooltipPosition="right"
                [matTooltipDisabled]="isExpanded()">
              <mat-icon>settings</mat-icon>
              <span *ngIf="isExpanded()" class="menu-item">Settings</span>
            </a>

            <a mat-list-item
                matTooltip="Help" matTooltipPosition="right"
                [matTooltipDisabled]="isExpanded()">
              <mat-icon>help_outline</mat-icon>
              <span *ngIf="isExpanded()" class="menu-item">Help</span>
            </a>

            <a mat-list-item
                matTooltip="Report Issue" matTooltipPosition="right"
                [matTooltipDisabled]="isExpanded()">
              <mat-icon>bug_report</mat-icon>
              <span *ngIf="isExpanded()" class="menu-item">Report Issue</span>
            </a>
          </mat-nav-list>
        </div>
      </div>
    </mat-sidenav>

    <!-- content -->
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Project Cthulhu</span>
      </mat-toolbar>

      <!-- actual content -->
      <div class="content-container mat-elevation-z2">
        <app-overview-dashboard></app-overview-dashboard>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
